/compiled/
/tmp/
/Latex Vorlage HAK Imst.lol

Latex Vorlage HAK Imst.pdf
Latex Vorlage HAK Imst.pdf
Latex Vorlage HAK Imst.log
Latex Vorlage HAK Imst.pdf
*.log
Latex Vorlage HAK Imst.synctex.gz(busy)
Latex Vorlage HAK Imst.pdf
*.log